// --------------------
// font-size 指定 相対的にサイズ変更します
// --------------------
.fz50 {// font-sizeを50%にする
    font-size: .5em;
}
  
.fz60 {
    font-size: .6em;
}

.fz70 {
    font-size: .7em;
}

.fz80 {
    font-size: .8em;
}

.fz85 {
    font-size: .85em;
}

.fz90 {
    font-size: .9em;
}

.fz95 {
    font-size: .95em;
}

.fz105 {
    font-size: 1.05em;
}

.fz110 {
    font-size: 1.1em;
}

.fz115 {
    font-size: 1.15em;
}

.fz120 {
    font-size: 1.2em;
}

.fz130 {
    font-size: 1.3em;
}

.fz140 {
    font-size: 1.4em;
}

.fz150 {
    font-size: 1.5em;
}

.fz200 {
    font-size: 2em;
}

.fz300 {
    font-size: 3em;
}

.fz400 {
    font-size: 4em;
}

.fz500 {
    font-size: 5em;
}

// --------------------
// font-weight 指定
// --------------------

.fwThin {
    font-weight: 400;
}

.fwNormal {
    font-weight: 500;
}
.fwBold {
    font-weight: 600;
}