.width100 {
    width: var(--width-100);
}

.width90 {
    width: var(--width-90);
}

.width80 {
    width: var(--width-80);
}

.width70 {
    width: var(--width-70);
}

.width60 {
    width: var(--width-60);
}

.width50 {
    width: var(--width-50);
}

.width40 {
    width: var(--width-40);
}

.width30 {
    width: var(--width-30);
}

.width20 {
    width: var(--width-20);
}

.width10 {
    width: var(--width-10);
}